
    <div class="top-row pl-4 navbar navbar-dark" height="100px">
        <a class="navbar-brand" href="">XYZ</a>
        <button class="navbar-toggler" @onclick="() => ToggleNavMenu(_navSubmenu)">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <AuthorizeView Policy="CustomerOnly">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="myreservations" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> My Reservations
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="myinformation" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> My Information
                </NavLink>
            </li>
        </ul>
    </AuthorizeView>
    
    <AuthorizeView Policy="AgentOnly">
        <ul>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="mytasks" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> My Tasks
                </NavLink>
            </li>
        </ul>
    </AuthorizeView>

    <AuthorizeView Policy="EmployeeOnly">
    <div class="@NavMenuCssClass">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="() => ToggleSubmenu(NavSubmenu.First)">
                    <span class="oi oi-transfer" aria-hidden="true"></span> Car Fleet
                </NavLink>
            </li>

            @if (_navSubmenu == NavSubmenu.First)
            {
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="vehiclemodels">
                        <span class="oi oi-plus" aria-hidden="true"></span> Models
                    </NavLink>
                </li>
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="fleetvehicles">
                        <span class="oi oi-plus" aria-hidden="true"></span> Fleet
                    </NavLink>
                </li>
                //TODO: maintenance => assignable to an employee as a task
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="maintenance">
                        <span class="oi oi-plus" aria-hidden="true"></span> Maintenance
                    </NavLink>
                </li>
                //TODO: whole transfers
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="transfers">
                        <span class="oi oi-plus" aria-hidden="true"></span> Transfers
                    </NavLink>
                </li>
            }

            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="() => ToggleSubmenu(NavSubmenu.Second)">
                    <span class="oi oi-cog" aria-hidden="true"></span> Business
                </NavLink>
            </li>

            @if (_navSubmenu == NavSubmenu.Second)
            {
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="assignments">
                        <span class="oi oi-plus" aria-hidden="true"></span> Assignments
                    </NavLink>
                </li>
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="customers">
                        <span class="oi oi-plus" aria-hidden="true"></span> Customers
                    </NavLink>
                </li>
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="employees">
                        <span class="oi oi-plus" aria-hidden="true"></span> Employees
                    </NavLink>
                </li>
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="reservations">
                        <span class="oi oi-plus" aria-hidden="true"></span> Reservations
                    </NavLink>
                </li>
                <li class="nav-item px-5">
                    <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="branches">
                        <span class="oi oi-plus" aria-hidden="true"></span> Branches
                    </NavLink>
                </li>
            }
        </ul>
    </div>
</AuthorizeView>

@code {

    private enum NavSubmenu
    {
        None,
        First,
        Second
    }

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    private NavSubmenu _navSubmenu = NavSubmenu.None;
    private bool _collapseNavMenu = true;


    private void ToggleNavMenu(NavSubmenu? submenu = null)
    {
        _collapseNavMenu = !_collapseNavMenu;
        _navSubmenu = submenu ?? _navSubmenu;
    }

    private void ToggleSubmenu(NavSubmenu submenu)
    {
        _navSubmenu = _navSubmenu == submenu ? NavSubmenu.None : submenu;
    }

}